.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-bottom: 2rem;
    width: 100%;
}

.container h1 {
    padding-bottom: 1rem;
    font-size: 1.25rem;
}

.container h2 {
    padding-bottom: 1rem;
    font-size: 1rem;
}

.container p {
    padding-bottom: 1rem;
}

.container__text {
    width: 100%;
}

.diagram__container {
    position: relative;
    width: 100%;
    height: 50vh;
}

@media (min-width: 576px) {
    .container h1 {
        font-size: 2rem;
    }
    
    .container h2 {
        font-size: 1.5rem;
    }

    .container__text {
        width: 60%;
    }

    .diagram__container {
        width: 60%;
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .diagram__container {
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .diagram__container {
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .diagram__container{
    }
    
}